html {
    line-height: 1.15
}
svg {
    display:none;
}
#canvasImg {
    display: none;
}

canvas {
    position:absolute;
    margin: 0;
    /*background-color: black;*/
    filter:url("#metaball");
    opacity: 1;
    z-index: -10;

}

@import url('https://fonts.googleapis.com/css2?family=Martian+Mono');
body {
    background-color: #1e2129;
    font-family: 'Martian Mono', monospace;
    font-weight: 1;
    color:white;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 99%;
    height: 95vh;
}

#secondBody {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    /*border: 2px solid white;*/
}

/*Header*/
header {
    align-self: flex-start;
    width: 100%;
}


nav {
    bottom:40px;
    position: flex;
}

nav a {
    margin-right: 40px;
    float: right;
}

nav a img{
    height: 40px;
    margin:0;
    transition: 500ms;
}

#mail {
    scale:0.8;
}

#ghub {
    border-radius: 25px;
}

#resume {
    border-radius: 10px 0 0 0;
}

#logo {
    width: 80px;
    transform: rotateY(360deg);
    transition: 2000ms;
}

#logo:hover {
    transform: rotateY(180deg);
    transition: 2000ms;
}

#logoNav {
    margin:0;
    float:left;
}

nav a img:hover{
    transform: scale(1.2);
    background-color: rgb(100, 19, 19);
    transition: 500ms;
}

/*Description CSS*/
main {
    padding:10px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

#descriptionBox {
    margin-top: 40px;
}

#contact {
    margin:5px;
    margin-left: 20px;
    color: rgb(251, 225, 139);
    font-size: large;
}

#projectBox {
    width: 650px;
    margin-bottom: 50px;
    position: relative;
}

#projectBox div {
    width: 100%;
    position: absolute;
    overflow: hidden;
}

#projectBox div a{
    font-size: 16pt;
    text-decoration: none;
    color: bisque;
    transition: 300ms;
}

#projectBox div a:hover{
    font-size: 20pt;
    text-decoration: underline;
    color: bisque;
    text-decoration-thickness: 3px;
    transition: 300ms;
    text-underline-offset: 6px;
}

#projectBox:before {
    position: absolute;
    background-color: #6cdfbd;
    top: 25px;
    left: -25px;
    border-radius: 25px;
    content: "";
    width: 10px;
    height: 240px;
    transition: 300ms;
}

#hidden {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition:200ms;
}

#active {
    opacity: 1;
    transform-origin: right;
    transform: scaleX(1);
    visibility: visible;
    transition: 200ms;
}

#active:nth-child(1) {
    opacity: 1;
    transform-origin: left;
    transform: scaleX(1);
    visibility: visible;
    transition: 200ms;
}

#hidden:nth-child(1) {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition:200ms;
}

/*Button CSS */
#project-buttons {
    margin-top: 80px;
    margin-left: 30px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#project-buttons a {
    scale:1.2;
    color: aliceblue;
    display: block;
    text-decoration: none;
    padding: 20px;
    transition: 500ms;
}

#project-buttons a:after {
    content: attr(background-color);
    position: absolute;
    background-color: #6cdfbd;
    top: 32%;
    right: 92%;
    border-radius: 12px;
    content: "";
    width: 4px;
    height: 20px;
    opacity: 0;
    transition: 500ms;
}

#projectBox.about:before {
    background-color: #90F1EF;
}
#projectBox.proj1:before {
    background-color: #FFD6E0;
}
#projectBox.proj2:before {
    background-color: #FFEF9F;
}
#projectBox.proj3:before {
    background-color: #7BF1A8;
}
#projectBox.proj4:before {
    background-color: #c11dab;
}
#projectBox.proj5:before {
    background-color: #9fe945;
}

#project-buttons a.about:after {
    background-color: #90F1EF;
}
#project-buttons a.proj1:after {
    background-color: #FFD6E0;
}
#project-buttons a.proj2:after {
    background-color: #FFEF9F;
}
#project-buttons a.proj3:after {
    background-color: #7BF1A8;
}
#project-buttons a.proj4:after {
    background-color: #c11dab;
}
#project-buttons a.proj5:after {
    background-color: #9fe945;
}

#project-buttons a:hover {
    scale:1.4;
    color: rgb(53, 117, 173);
    transition: 500ms;
}

#project-buttons a:hover:after {
    opacity: 1;
    transition: 500ms;
}

@media screen and (max-width: 938px) {
    #projectBox {
        width: 45vh;
        margin-bottom: 50px;
        position: relative;
    }

    #project-buttons {
        margin-top: 400px;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #project-buttons a:after {
        display:none;
    }

    #project-buttons a:hover {
        scale:1.4;
        color: rgb(53, 117, 173);
        text-decoration: underline;
        text-decoration-color: #6cdfbd;
        text-decoration-thickness: 3px;
        transition: 500ms;
        text-underline-offset: 6px;
    }

  }

  
